@model RequestedAppointmentViewModel

<div class="mt-4">

    <div class="row">
        <div class="col-12">
            <h3>Requested Appointments</h3>
        </div>
    </div>


    <div class="row">

        <div class="col-12">

            <table class="table mt-3 table-sm table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Appointment Type</th>
                        <th>Client</th>
                        <th>Patient</th>
                        <th>Requested Time</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var appointment in Model.Appointments)
                    {
                    <tr>
                        <td>@appointment.AppointmentType</td>
                        <td>@Model.GetClientDisplayName(appointment.User)</td>
                        <td>@Model.GetPatientDisplayName(appointment.Animal)</td>
                        <td>@Model.GetFormattedDateTime(appointment.RequestedDateTimeOffset)</td>
                        <td><a asp-controller="Details" asp-action="Index" asp-route-id="@appointment.AppointmentId">Confirm</a>|Alternative</td>
                    </tr>
                    }

                </tbody>
            </table>



        </div>
    </div>


</div>